*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#allheader{
    padding: 4rem 0;
   
    background-color: white;
    text-align: right;
.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
    .left{
        width: 22%;
        margin-left: -30px;

    }
    .right{
        width: 73%;
     
    }
    .right i{
        margin-left: 30px;
        font-size: 26px;
        color: rgb(24, 25, 27);
        
        
    }
    .right span{
        margin-left: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 0.5vh;
    }
    
   
.imgall{
   width: 100%;
   display: flex;
   
}
.left img{
    width: 100%;
}

.right a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 43px;
    color: #1b1b1b;
    font-weight: 400;
}
}

.Allsend{
    background-image: url(https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-slider-background-2.jpg);
   padding: 10rem 17rem;
   text-align: left;
   background-size: cover ;
   

   .left{
       width:50%;
   }
    
   
   .left h1{
       font-size: 49px;
       color: #000000;
       margin-bottom: 30px;
       
   }
   .left h1 span{
       color: red;
   }
   p{
       color: #6d6a6a;
       font-size: 24px;
       letter-spacing: 0ex;
   }
}

.Pictures{
.alltop{
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left a{
    font-size: 17px;
    margin-left: 30px;
    text-decoration: none;
    letter-spacing: 0.2ch;
    color: #1B1B1B;
}
.right a{
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 0.4ch;
    color: #1B1B1B;
    font-weight: 500;
}
.bottom{
    padding: 0 6rem;
}
.allbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width: 23%;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
}
.box img{
    width: 100%;
}

    

  .box span {
    position: absolute;
    top: 2%;
    left: 2%;
    border: 1px solid;
    padding: 7px 22px;
    background-color: #1b1b1b;
    color: #f7f7f7;
    font-size: 21px;
    z-index: 2;
}

img{
    transition: 0.2s;
}
    
   .img:hover{
       img{
           transform: scale(1.05);
       }
   }     
.box p{
    font-size: 17px;
    color: #1b1b1b;
    text-align: center;
    letter-spacing: 0.2ch;
    font-weight: 400;
    margin-top: 20px;

}
.box .pedit{
    font-size: 17px;
    color: #1b1b1b;
    text-align: center;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 20px;

}

.Valentine{
   padding: 7rem 7rem;
   background-color: #f7f7f7;

   .all{
      margin-left: -70px;
   }
.left{
    width: 44%;
    .box{
        position: relative;
        overflow: hidden;
        
        position: relative;
        transition: 0.1s;
        img{
            width: 100%;
            transition: 0.3s;
            z-index: -1;
        }  
        i{
            color: rgb(98, 77, 77);
            position: absolute;
            font-size: 90px;
            left: 50%;
            top: 50%;
            z-index: 2;
            transform: translate(-50%,-50%);
        }
    }
}
.img:hover{
    img{
      transform: scale(1.05);
    }
}
      .all{
          display: flex;
          justify-content: space-around;
          align-items: center;
      } 

        
       .right{
        width: 44%;

        h1{
            font-size: 50px;
            margin-bottom: 50px;
            line-height: 1.3;
            
        }
        h1 span{
            color: red;
        }
        p{
            font-size: 25px;
            margin-bottom: 30px;
            margin-top: 30px;
            
            color: #6d6a6a;
        }
        .stick{
            font-size: 24px;
            margin-top: 25px;
            color: #6d6a6a;
           
        }
        


       } 
    }

    .Experts{
        padding: 9rem 0;
       .flowex{
        text-align: center;
       }
       .flowex h1{
           font-size: 50px;
           color: #2b2b2b;
       }
       .flowex p{
           font-size: 22px;
           margin-top: 20px;
           color: #6d6a6a;
       }


       .allexperts{
           display: flex;
           justify-content: space-evenly;
           align-items: center;
       }
       .box{
           width: 15%;
           margin-top: 40px;
       }
       .box img{
           width: 100%;
       }
        .box h5{
           text-align: center;
           margin-top: 30px;
           font-size: 17px;
           letter-spacing: 0.1vh;
       }
       .box p{
           font-size: 15px;
           opacity: 0.5;
       }
    }

    .Join{
       
      
     
     
     padding: 15rem 0;
           
           
        background-image: url(https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg);
        background-attachment: fixed;
        
   
        text-align: center;
        h1{
            color: #ffffff;
           

        }
        .alljoin input{
            padding: 20px 12rem;
            margin-top: 20px;
            
            
        }
        
        .alljoin span button{
            padding: 20px 80px;
            vertical-align: baseline;
            background-color: #f34f3f;
            font-size: 16px;
            color: white;
            letter-spacing: 0.2VH;
            margin-left: -6px;
            border-color: transparent;
        }
    }
        
       
    
    .Blog{
        padding: 7rem 2rem;
        background-color: #f7f7f7;
       .flowex{
        text-align: center;
       }
       .flowex h1{
           font-size: 50px;
           color: #2b2b2b;
       }
       .flowex p{
           font-size: 22px;
           margin-top: 20px;
           color: #6d6a6a;
       }



       .allexperts{
         display: flex;
           justify-content: space-evenly;
           align-items: center;
       }
       .box{
           width: 30%;
           margin-top: 40px;
           transition: 0.1s;
           overflow: hidden;
           position: relative;
       }
       .box span{
           top: 2%;
           left: 2%;
           border: 1px solid;
           padding: 9px 20px;
           font-size: 15px;
           background-color: #f7f7f7;
           color: #1B1B1B;
       }


       img{
           transition: 0.2s;
       }
           
          .img:hover{
              img{
                  transform: scale(1.05);
              }
          }     
           
       }
       .box img{
           width: 100%;
       }
      .box h5{
           text-align: center;
           margin-top: 20px;
           font-size: 25px;
           letter-spacing: 0.1vh;
           font-weight: 400;
       }
       .box p{
           font-size: 15px;
           
       }

       .Jasmine{
           text-align: center;
           padding: 5rem 0;
           p{
               font-size: 30px;
               margin-top: 25px;
               color: #4b4747;
           }
           h5{
               margin-top: 60px;
               font-size: 15px;
               letter-spacing: 0.1vh;
           }
           h6{
               margin-top: 10px;
               opacity: 0.5;
           }
           img{
               width: 5%;
           }
       }
    

   

    

    


